{% if form.non_field_errors %}
<ul class="errorlist mb-3">{% for e in form.non_field_errors %}<li>{{ e }}</li>{% endfor %}</ul>
{% endif %}
{% for field in form %}
    {% if field.field.widget.input_type == 'checkbox' and not field.field.widget.allow_multiple_selected %}
    <div class="form-field">
        <div class="form-check">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
        {% if field.help_text %}<span class="helptext">{{ field.help_text }}</span>{% endif %}
        {% if field.errors %}<ul class="errorlist">{% for e in field.errors %}<li>{{ e }}</li>{% endfor %}</ul>{% endif %}
    </div>
    {% else %}
    <div class="form-field">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}<span class="helptext">{{ field.help_text }}</span>{% endif %}
        {% if field.errors %}<ul class="errorlist">{% for e in field.errors %}<li>{{ e }}</li>{% endfor %}</ul>{% endif %}
    </div>
    {% endif %}
{% endfor %}
